$ff-bodoni = 'Bodoni', arial
$ff-montserrat = 'Montserrat-Regular', sans-serif

$c-green = #0C513D
$c-black = #000
$c-white = #fff
$c-white-1 = #F8F8F8
$c-grey = #EBEAE5
$c-grey-1 =#E9E7E3
$c-orange =#FF7B31
$c-grey-2 =#747474