mixin result()

    +b('section').result
        +e.content
            +e.text
                +e('p').chapter вы - ОСТОРОЖНЫЙ ИНВЕСТОР
                +e('p').description Во всем, что касается инвестиций в гардероб, вы действуете осторожно и без резких движений. Любому тренду вы предпочитаете проверенную базу - покупая простой свитшот или прямые джинсы, вы ничем не рискуете. Однако функциональности и стиля это вашему гардеробу не прибавит. База - это очень хорошо, но кроме нее у вас должны быть и акцентные вещи, которые сделают ваши комплекты более интересными и эффектными.
                +e.highlight
                    +e('p').advice
            +e.footer
                +e.images.wow.slideInDown
                    img(src='/images/resoult-left-1.png')
                    img(src='/images/resoult-right-1.png')
                +e.sharing
                    +sharing
                +e.actions
                    +e('button').button пройти еще раз