mixin header()

    +b('section').header
        +e.content 
            +e('p').chapter тест: <br> Насколько хорошо вы умеете инвестировать <br> в гардероб?
            +e('p').text Умение грамотно распределять средства и просчитывать риски - залог успешной инвестиции, даже если речь идет о вложениях в гардероб. То, какие вещи вы покупаете, может многое рассказать о вас! Опытный, осторожный или рисковый инвестор - ответьте на несколько вопросов теста и узнайте, насколько хорошо вы разбираетесь в модных вложениях.
            +e('p').text Что стоит докупить, чтобы ваши образы стали более актуальными и функциональными? В финале нашего теста вы не только узнаете сильные и слабые стороны вашего гардероба, но и получите дополнительный совет по выбору обуви от эксперта итальянского бренда Geox.
            